In [1]:
import pandas as pd

In [2]:
# Recordatorio

In [3]:
a = [2, 3, 1]
b = [2, 1, 1]

In [4]:
a == b

False

In [5]:
_df = pd.DataFrame({'a': a, 'b': b})
_df

   a  b
0  2  2
1  3  1
2  1  1

In [6]:
_df['a'] == 2

0     True
1    False
2    False
Name: a, dtype: bool

### booleanos

In [7]:
b1 = True
b2 = False

In [8]:
b1 & b2

False

In [9]:
b1 | b2

True

In [10]:
not b1

False

In [11]:
b2 == True

False

In [12]:
not (b2 == True)

True

# Pandas

estructura básica es el dataframe (pd.DataFrame)

In [17]:
! ls ../..

Conservacion en la Patagonia chilena.pdf
Dobson_FinalSection.pdf
Figuras proyecto.pptx
Jac.xlsx
Jac1.xlsx
Listado de especies Magallanes MMA.xlsx
Macroecologia Sistema Urbano
Modeling benefits from nature using ecosystem services to inform coastal and marine spatial planning.pdf
Outline métodos.docx
Papers
PropuestaTesis.pptx
ProyectoTesisJPD.docx
Python
Resumen ejecutivo proyecto de tesis cc Laura.docx
Resumen ejecutivo proyecto de tesis.docx
Science Research Writing_ A Guide for Non-Native Speakers of English (2009, Imperial College Press). Hilary Glasman-deal.pdf
Selecciondesp.R
Seven
Tesis José.docx
criterios busqueda 7.docx
df.csv
ecosystem-services-in-patagonia-2021.pdf
macro.docx
palabras claves.pptx
~$Jac1.xlsx
~$oyectoTesisJPD.docx

In [54]:
#df = pd.DataFrame()
df = pd.read_excel('../../Listado de especies Magallanes MMA.xlsx', sheet_name='Especies finales')

In [55]:
df.head()

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF
0,Almirantazgo - Magallanes - Especies,Animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410
1,Almirantazgo - Magallanes - Especies,Animalia,Aves,Passeriformes,Furnariidae,"Cinclodes oustaleti Scott, 1900",Cinclodes,--,https://www.gbif.org/species/2485054
2,Almirantazgo - Magallanes - Especies,Animalia,Aves,Suliformes,Phalacrocoracidae,"Leucocarbo atriceps (King, 1828)",Leucocarbo,--,https://www.gbif.org/species/4848927
3,Almirantazgo - Magallanes - Especies,Animalia,Aves,Suliformes,Phalacrocoracidae,"Leucocarbo magellanicus (Gmelin, 1789)",Leucocarbo,--,https://www.gbif.org/species/2481856
4,Almirantazgo - Magallanes - Especies,Animalia,Aves,Anseriformes,Anatidae,"Tachyeres pteneres (J.R.Forster, 1844)",Tachyeres,--,https://www.gbif.org/species/2498234

#### Tamaño del dataframe

In [20]:
# (filas, columnas)
df.shape

(1973, 9)

#### Contar valores

In [21]:
df['Reino'].value_counts()

Animalia    1973
Name: Reino, dtype: int64

#### Crear una columna

In [22]:
df['nueva_columna'] = 1 #cualquier cosa, pouede ser un número, o una lista

df.head(2)

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,nueva_columna
0,Almirantazgo - Magallanes - Especies,Animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,1
1,Almirantazgo - Magallanes - Especies,Animalia,Aves,Falconiformes,Falconidae,"Falco sparverius cinnamominus Swainson, 1838",Falco,--,https://www.gbif.org/species/9685907,1

In [23]:
type(range(945))

range

In [24]:
df['segunda_columna'] = range(945)

ValueError: Length of values (945) does not match length of index (1973)

In [25]:
df.head(2)

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,nueva_columna
0,Almirantazgo - Magallanes - Especies,Animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,1
1,Almirantazgo - Magallanes - Especies,Animalia,Aves,Falconiformes,Falconidae,"Falco sparverius cinnamominus Swainson, 1838",Falco,--,https://www.gbif.org/species/9685907,1

#### apply

In [26]:
def funcion_triplica(x):
    return 3*x

In [27]:
df['columna_triple'] = df['segunda_columna'].apply(funcion_triplica)
# es lo mismo que: df['segunda_columna'].apply(lambda x: 3*x)

KeyError: 'segunda_columna'

In [28]:
df.head(2)

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,nueva_columna
0,Almirantazgo - Magallanes - Especies,Animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,1
1,Almirantazgo - Magallanes - Especies,Animalia,Aves,Falconiformes,Falconidae,"Falco sparverius cinnamominus Swainson, 1838",Falco,--,https://www.gbif.org/species/9685907,1

In [29]:
#lambda functions

def triplica1(x):
    return 3*x

triplica2 = lambda x: 3*x

In [30]:
triplica1(10)

30

In [31]:
triplica2(10)

30

In [32]:
df['Reino'] = df['Reino'].apply(lambda x: x.lower()) #sacar tildes, x.replace('á', 'a')

In [33]:
df.head(2)

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,nueva_columna
0,Almirantazgo - Magallanes - Especies,animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,1
1,Almirantazgo - Magallanes - Especies,animalia,Aves,Falconiformes,Falconidae,"Falco sparverius cinnamominus Swainson, 1838",Falco,--,https://www.gbif.org/species/9685907,1

### Filtramos el dataframe

In [34]:
#df['Clase']
df.Clase.unique()

array(['Aves', 'Mammalia', 'Bivalvia', 'Gastropoda', 'Polyplacophora',
       'Actinopterygii'], dtype=object)

In [43]:

string = "La/manzana/podrida"

string.split('/')[-1]

'podrida'

In [57]:
df['taxonid'] = df.GBIF.apply(lambda x: x.split('/')[-1])

In [58]:
df

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,taxonid
0,Almirantazgo - Magallanes - Especies,Animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,2481410
1,Almirantazgo - Magallanes - Especies,Animalia,Aves,Passeriformes,Furnariidae,"Cinclodes oustaleti Scott, 1900",Cinclodes,--,https://www.gbif.org/species/2485054,2485054
2,Almirantazgo - Magallanes - Especies,Animalia,Aves,Suliformes,Phalacrocoracidae,"Leucocarbo atriceps (King, 1828)",Leucocarbo,--,https://www.gbif.org/species/4848927,4848927
3,Almirantazgo - Magallanes - Especies,Animalia,Aves,Suliformes,Phalacrocoracidae,"Leucocarbo magellanicus (Gmelin, 1789)",Leucocarbo,--,https://www.gbif.org/species/2481856,2481856
4,Almirantazgo - Magallanes - Especies,Animalia,Aves,Anseriformes,Anatidae,"Tachyeres pteneres (J.R.Forster, 1844)",Tachyeres,--,https://www.gbif.org/species/2498234,2498234
...,...,...,...,...,...,...,...,...,...,...
940,Whitesidel - Magallanes - Especies,Animalia,Gastropoda,Lepetellida,Fissurellidae,"Fissurella oriens G.B.Sowerby I, 1834",Fissurella,--,https://www.gbif.org/species/5860021,5860021
941,Whitesidel - Magallanes - Especies,Animalia,Gastropoda,Littorinimorpha,Calyptraeidae,"Crepipatella dilatata (Lamarck, 1822)",Crepipatella,--,https://www.gbif.org/species/4360387,4360387
942,Whitesidel - Magallanes - Especies,Animalia,Aves,Accipitriformes,Accipitridae,"Geranoaetus polyosoma (Quoy &amp; Gaimard, 1824)",Geranoaetus,--,https://www.gbif.org/species/2480552,2480552
943,Whitesidel - Magallanes - Especies,Animalia,Aves,Anseriformes,Anatidae,"Cygnus melancoryphus (Molina, 1782)",Cygnus,--,https://www.gbif.org/species/2498335,2498335
944,Whitesidel - Magallanes - Especies,Animalia,Actinopterygii,Perciformes,Zoarcidae,"Austrolycus depressiceps Regan, 1913",Austrolycus,--,https://www.gbif.org/species/2381177,2381177

In [59]:
df['Nombre Científico'].nunique()

74

In [60]:
df.taxonid.unique()

array(['2481410', '2485054', '4848927', '2481856', '2498234', '2480989',
       '5232428', '2483725', '2481432', '2481515', '5232424', '5229231',
       '2485058', '2481065', '2482738', '5231073', '2483790', '2485042',
       '2481495', '5229651', '2498236', '2498294', '2485838', '2481173',
       '2481408', '5229770', '2481770', '2482688', '5229385', '2485069',
       '4352370', '2498065', '5232423', '2481829', '5739277', '9399113',
       '2498110', '5229146', '2481756', '2481635', '2480318', '9685907',
       '2498335', '6065823', '2498127', '2481660', '2498288', '5231088',
       '2480565', '2481545', '5229343', '2481047', '5229299', '2498322',
       '2480668', '2480599', '5229302', '5188832', '4374572', '2498138',
       '2480287', '5232427', '2485141', '2481006', '5229170', '2481091',
       '2480552', '2481516', '8697392', '5220072', '6515399', '5860021',
       '4360387', '2381177'], dtype=object)

In [61]:
df[['taxonid']].to_csv('taxonid_especies.csv', index=False)

In [35]:
# queremos quedarnos con aves

#booleanos_aves = df['Clase'] == 'Aves'
#df[booleanos_aves]

df[df['Clase'] == 'Aves'].head(1)

,Ecosistema Magallanes,Reino,Clase,Orden,Familia,Nombre Científico,Nombre Común,Inventario Especies,GBIF,nueva_columna
0,Almirantazgo - Magallanes - Especies,animalia,Aves,Procellariiformes,Diomedeidae,"Thalassarche melanophris (Temminck, 1828)",Thalassarche,--,https://www.gbif.org/species/2481410,1

In [36]:
df.query('Clase=="Aves"')[['Nombre Científico', 'GBIF']].drop_duplicates() #queremos quedarnos con los valores únicos

,Nombre Científico,GBIF
0,"Thalassarche melanophris (Temminck, 1828)",https://www.gbif.org/species/2481410
1,"Falco sparverius cinnamominus Swainson, 1838",https://www.gbif.org/species/9685907
2,"Cinclodes oustaleti Scott, 1900",https://www.gbif.org/species/2485054
3,"Leucocarbo atriceps (King, 1828)",https://www.gbif.org/species/4848927
4,"Leucocarbo magellanicus (Gmelin, 1789)",https://www.gbif.org/species/2481856
...,...,...
1672,"Phalcoboenus megalopterus (Meyen, 1834)",https://www.gbif.org/species/2481092
1675,"Actitis macularia (Linnaeus, 1766)",https://www.gbif.org/species/2481798
1676,"Gallinago gallinago (Linnaeus, 1758)",https://www.gbif.org/species/2481819
1692,"Anas specularis King, 1828",https://www.gbif.org/species/2498322
1694,Diomedea exulans exulans,https://www.gbif.org/species/5229302

In [37]:
df.query('Clase=="Aves"')[['Nombre Científico', 'GBIF']].drop_duplicates().shape

(233, 2)

In [38]:
df.query('Clase=="Aves"')['Nombre Científico'].unique()

array(['Thalassarche melanophris (Temminck, 1828)',
       'Falco sparverius cinnamominus Swainson, 1838',
       'Cinclodes oustaleti Scott, 1900',
       'Leucocarbo atriceps (King, 1828)',
       'Leucocarbo magellanicus (Gmelin, 1789)',
       'Tachyeres pteneres (J.R.Forster, 1844)',
       'Caracara plancus (J.F.Miller, 1777)',
       'Chloephaga picta (Gmelin, 1789)',
       'Muscisaxicola maclovianus (Garnot, 1826)',
       'Fulmarus glacialoides (A.Smith, 1840)',
       'Macronectes giganteus (Gmelin, 1789)',
       'Chloephaga hybrida (Molina, 1782)',
       'Sterna hirundinacea Lesson, 1831',
       'Cinclodes patagonicus (Gmelin, 1789)',
       'Milvago chimango (Vieillot, 1816)',
       'Pyrope pyrope (Kittlitz, 1830)',
       'Phrygilus patagonicus Lowe, 1923',
       'Colorhamphus parvirostris (Darwin, 1839)',
       'Aphrastura spinicauda (Gmelin, 1789)',
       'Procellaria aequinoctialis Linnaeus, 1758',
       'Elaenia albiceps (Orbigny &amp; Lafresnaye, 1837)',
       'Tachyeres patachonicus (King, 1831)',
       'Lophonetta specularioides (King, 1828)',
       'Pygarrhichas albogularis (King, 1831)',
       'Larus dominicanus Lichtenstein, 1823',
       'Thalassarche chrysostoma (J.R.Forster, 1785)',
       'Lessonia rufa (Gmelin, 1789)', 'Calidris bairdii (Coues, 1861)',
       'Anairetes parulus (Kittlitz, 1830)',
       'Spheniscus magellanicus (J.R.Forster, 1781)',
       'Cinclodes fuscus (Vieillot, 1818)',
       'Leucophaeus scoresbii (Traill, 1823)',
       'Anas flavirostris Vieillot, 1816',
       'Chloephaga poliocephala P.L.Sclater, 1857',
       'Gallinago magellanica (King, 1828)',
       'Ardenna grisea (Gmelin, 1789)',
       'Nannopterum brasilianus (Gmelin, 1789)',
       'Procellaria westlandica Falla, 1946',
       'Mareca sibilatrix (Poeppig, 1829)',
       'Vanellus chilensis (Molina, 1782)',
       'Calidris fuscicollis (Vieillot, 1819)',
       'Eudyptes chrysocome (J.R.Forster, 1781)',
       'Charadrius modestus Lichtenstein, 1823',
       'Leucocarbo atriceps albiventer (R.Lesson, 1831)',
       'Falco sparverius Linnaeus, 1758',
       'Cygnus melancoryphus (Molina, 1782)',
       'Phalcoboenus albogularis (Gould, 1837)',
       'Chroicocephalus maculipennis (Lichtenstein, 1823)',
       'Anas georgica Gmelin, 1789',
       'Aptenodytes patagonicus J.F.Miller, 1778',
       'Coscoroba coscoroba (Molina, 1782)',
       'Phrygilus gayi (Gervais, 1834)', 'Buteo ventralis Gould, 1837',
       'Daption capense (Linnaeus, 1758)',
       'Melanodera xanthogramma (Gould &amp; G.R.Gray, 1839)',
       "Ardenna gravis (O'Reilly, 1818)",
       'Falco peregrinus Tunstall, 1771',
       'Diomedea epomophora Lesson, 1825',
       'Speculanas specularis (King, 1828)',
       'Geranoaetus melanoleucus (Vieillot, 1819)',
       'Gallinago stricklandii (G.R.Gray, 1845)',
       'Phalacrocorax magellanicus (Gmelin, 1789)',
       'Phalacrocorax atriceps King, 1828',
       'Phalacrocorax brasilianus (Gmelin, 1789)',
       'Thalassarche melanophrys (Temminck, 1828)',
       'Phoebetria palpebrata (J.R.Forster, 1785)',
       'Accipiter bicolor (Vieillot, 1817)',
       'Diomedea exulans Linnaeus, 1758',
       'Geositta antarctica Landbeck, 1880',
       'Oreopholus ruficollis (Wagler, 1829)',
       'Spatula platalea (Vieillot, 1816)',
       'Geositta cunicularia (Vieillot, 1816)',
       'Charadrius falklandicus Latham, 1790',
       'Sicalis lebruni (Oustalet, 1891)',
       'Upucerthia dumetaria I.Geoffroy Saint-Hilaire, 1832',
       'Chloephaga rubidiceps P.L.Sclater, 1861',
       'Phalaropus tricolor (Vieillot, 1819)',
       'Tringa flavipes (Gmelin, 1789)',
       'Leptasthenura aegithaloides (Kittlitz, 1830)',
       'Asthenes anthoides (King, 1831)',
       'Falco femoralis Temminck, 1822', 'Circus cinereus Vieillot, 1816',
       'Calidris alba (Pallas, 1764)', 'Xema sabini (Sabine, 1819)',
       'Phalcoboenus australis (Gmelin, 1788)',
       'Muscisaxicola capistratus (Burmeister, 1860)',
       'Geranoaetus polyosoma (Quoy &amp; Gaimard, 1824)',
       'Oxyura ferruginea (Eyton, 1838)',
       'Spatula cyanoptera (Vieillot, 1816)',
       'Macronectes halli Mathews, 1912',
       'Netta peposaca (Vieillot, 1816)',
       'Anas bahamensis Linnaeus, 1758',
       'Pterodroma mollis (Gould, 1844)',
       'Spatula versicolor (Vieillot, 1816)',
       'Neoxolmis rufiventris (Vieillot, 1823)',
       'Muscisaxicola flavinucha Lafresnaye, 1855',
       'Melanodera melanodera (Quoy &amp; Gaimard, 1824)',
       'Puffinus puffinus (Brunnich, 1764)',
       'Larus maculipennis Lichtenstein, 1823',
       'Numenius phaeopus (Linnaeus, 1758)', 'Chloephaga hybrida hybrida',
       'Pyrope pyrope pyrope', 'Aphrastura spinicauda spinicauda',
       'Elaenia albiceps chilensis Hellmayr, 1927',
       'Anairetes parulus parulus', 'Vanellus chilensis chilensis',
       'Xolmis pyrope (Kittlitz, 1830)',
       'Pygoscelis papua (J.R.Forster, 1781)',
       'Accipiter bicolor chilensis',
       'Cinclodes antarcticus (Garnot, 1826)',
       'Geranoaetus melanoleucus australis Swann, 1922',
       'Vanellus chilensis fretensis (Brodkorb, 1934)',
       'Cinclodes patagonicus patagonicus',
       'Larus dominicanus dominicanus',
       'Eudyptes chrysolophus (Brandt, 1837)',
       'Pygoscelis antarcticus (J.R.Forster, 1781)',
       'Anas georgica spinicauda Vieillot, 1816',
       'Leucophaeus pipixcan (Wagler, 1831)',
       'Tringa melanoleuca (Gmelin, 1789)',
       'Pachyptila belcheri (Mathews, 1912)', 'Anser anser f. domesticus',
       'Phalcoboenus chimango (Vieillot, 1816)',
       'Larus scoresbii Traill, 1823',
       'Halobaena caerulea (Gmelin, 1789)',
       'Limosa haemastica (Linnaeus, 1758)',
       'Elaenia chilensis Hellmayr, 1927',
       'Puffinus griseus (Gmelin, 1789)', 'Chloephaga picta picta',
       'Leucocarbo atriceps atriceps',
       'Nannopterum brasilianum brasilianum',
       'Merganetta armata Gould, 1842', 'Anser anser (Linnaeus, 1758)',
       'Pygoscelis papua papua', 'Tyrannus savana Vieillot, 1808',
       'Lophonetta specularioides specularioides',
       'Milvago chimango temucoensis W.L.Sclater, 1918',
       'Phrygilus gayi caniceps Burmeister, 1860',
       'Accipiter chilensis Philippi &amp; Landbeck, 1864',
       'Anas flavirostris flavirostris',
       'Melanodera xanthogramma xanthogramma',
       'Muscisaxicola maclovianus mentalis Orbigny &amp; Lafresnaye, 1837',
       'Sterna paradisaea Pontoppidan, 1763',
       'Phalaropus fulicarius (Linnaeus, 1758)',
       "Geospizopsis unicolor (Lafresnaye &amp; D'Orbigny, 1837)",
       'Calidris virgata Gmelin, 1789',
       'Rhopospina fruticeti (Kittlitz, 1833)',
       'Gallinago paraguaiae (Vieillot, 1816)',
       'Pachyptila desolata (Gmelin, 1789)',
       'Arenaria interpres (Linnaeus, 1758)',
       'Pluvialis dominica (Statius Muller, 1776)',
       'Geranoaetus melanoleucus melanoleucus',
       'Cinclodes patagonicus chilensis (Lesson, 1828)',
       'Cinclodes oustaleti hornensis Dabbene, 1917',
       'Ochthoeca parvirostris Stotz et al., 1996',
       "Sicalis olivascens (d'Orbigny &amp; Lafresnaye, 1837)",
       'Thalassoica antarctica (Gmelin, 1789)',
       'Chloephaga picta leucoptera (Gmelin, 1789)',
       'Polyborus plancus plancus', 'Milvago chimango chimango',
       'Phalacrocorax olivaceus (Humboldt, 1805)',
       'Calidris canutus (Linnaeus, 1758)',
       'Calidris melanotos (Vieillot, 1819)',
       'Tyrannus tyrannus (Linnaeus, 1758)',
       'Muscisaxicola albilora Lafresnaye, 1855',
       'Ochetorhynchus phoenicurus (Gould, 1839)',
       'Diuca diuca (Molina, 1782)',
       'Falco peregrinus cassini Sharpe, 1873',
       'Spatula clypeata (Linnaeus, 1758)',
       'Oxyura vittata (Philippi, 1860)',
       'Calidris himantopus (Bonaparte, 1826)',
       'Eudyptes chrysocome chrysocome',
       'Ardenna creatopus (Coues, 1864)',
       'Heteronetta atricapilla (Merrem, 1841)',
       'Pterodroma longirostris (Stejneger, 1893)',
       'Rynchops niger Linnaeus, 1758',
       'Phoebetria fusca (Hilsenberg, 1822)',
       'Tachuris rubrigastra (Vieillot, 1817)',
       'Geositta rufipennis (Burmeister, 1860)',
       'Sterna vittata Gmelin, 1789',
       'Sicalis auriventris Philippi &amp; Landbeck, 1864',
       'Agriornis micropterus Gould, 1839',
       'Asthenes pyrrholeuca (Vieillot, 1817)',
       'Muscisaxicola maculirostris Orbigny &amp; Lafresnaye, 1837',
       'Asthenes modesta (Eyton, 1851)',
       'Oreopholus ruficollis ruficollis',
       'Phleocryptes melanops (Vieillot, 1817)',
       'Aptenodytes forsteri G.R.Gray, 1844',
       'Agriornis montanus (Orbigny &amp; Lafresnaye, 1837)',
       'Tyrannus melancholicus Vieillot, 1819',
       'Gallinago paraguaiae magellanica (King, 1828)',
       'Sterna hirundo Linnaeus, 1758', 'BOLD:AAC6828',
       'Poikilocarbo gaimardi (Lesson &amp; Garnot, 1828)',
       'BOLD:AAE5015', 'BOLD:AAB4705', 'BOLD:AAD7581',
       'Diomedea melanophris Temminck, 1828',
       'Phalacrocorax albiventer (Lesson, 1831)',
       'Leucocarbo albiventer (Lesson, 1831)',
       'Phalacrocorax brasilianus brasilianus',
       'Upucerthia dumetaria dumetaria', 'Rhopospina fruticeti fruticeti',
       'Muscisaxicola maculirostris maculirostris',
       'Geositta cunicularia cunicularia',
       'Leptasthenura aegithaloides pallida Dabbene, 1920',
       'Phrygilus alaudinus (Kittlitz, 1833)',
       'Sicalis luteola (Sparrman, 1789)',
       'Thalassarche salvini (Rothschild, 1893)',
       'Thalassarche cauta (Gould, 1841)',
       'Thalassarche eremita Murphy, 1930',
       'Phalaropus lobatus (Linnaeus, 1758)',
       'Anas sibilatrix Poeppig, 1829', 'Cinclodes fuscus fuscus',
       'Daption capense capense', 'Elaenia albiceps albiceps',
       'Thalasseus sandvicensis (Latham, 1787)',
       'Caracara cheriway (Jacquin, 1784)',
       'Muscisaxicola capistrata (Burmeister, 1860)',
       'Melanodera melanodera princetoniana (Scott, 1900)',
       'Sterna fuscata Linnaeus, 1766',
       'Procelsterna albivitta Bonaparte, 1856',
       'Anas specularioides King, 1828',
       'Diomedea chrysostoma J.R.Forster, 1785',
       'Pterodroma incerta (Schlegel, 1863)',
       'Vanellus cayanus (Latham, 1790)',
       'Thalassarche bulleri (Rothschild, 1893)', 'BOLD:AAI4614',
       'Muscisaxicola macloviana (Garnot, 1826)',
       'Phalcoboenus megalopterus (Meyen, 1834)',
       'Actitis macularia (Linnaeus, 1766)',
       'Gallinago gallinago (Linnaeus, 1758)',
       'Anas specularis King, 1828', 'Diomedea exulans exulans'],
      dtype=object)

### Sacamos los valores únicos

In [ ]:
len(df['Nombre Científico'].unique())

In [ ]:
df['Nombre Científico'].nunique()

In [ ]:
df['Nombre Científico'].unique()

#### Cambiar nombre a una columna

In [ ]:
df.columns

In [ ]:
df.rename(columns={'Ecosistema Magallanes': 'ecosistema'}, inplace=True)
#df.rename({'Ecosistema Magallanes': 'ecosistema'}, axis=1)

In [ ]:
import numpy as np

In [ ]:
# inventamso un atributo numérico
df['peso'] = np.random.randint(1, 10, size=len(df))
df['altura'] = np.random.randint(150, 200, size=len(df))

In [ ]:
df.head(1)

### Borrar columnas

In [ ]:
#.drop

#df.drop('nueva_columna', axis=1, inplace=True)
df.drop(['nueva_columna', 'segunda_columna', 'columna_triple'], axis=1, inplace=True)

In [ ]:
#df.groupby(LISTA_COLUMNAS)['miro_una'].operacion()

df.groupby(['Clase', 'Orden'])[['peso']].mean().reset_index()

In [ ]:
df.groupby(['Clase', 'Orden'])[['peso', 'altura']].mean().reset_index()

In [ ]:
df.groupby(['Clase', 'Orden'])[['peso']].mean()

In [ ]:
df.groupby(['Clase', 'Orden'])['peso'].agg(['mean', 'min', 'max'])

In [ ]:
df.groupby(['Clase', 'Orden']).agg({'peso': ['mean', 'min', 'max']})

In [ ]:
df.groupby(['Clase', 'Orden']).agg({'peso': ['mean', 'min', 'max', 'count'], 'altura': ['min', 'max']}).reset_index()

In [ ]:
# SE PUEDE HACER QUALQER COSA
df.groupby(['Clase', 'Orden']).agg({'peso': [lambda x: np.max(x)**2]}).reset_index()

Filtrar y hacer groupby

### BUENAS PRÄCTICAS!!

In [ ]:
a = True
b = False

a & b # y lógico

In [ ]:
a | b # o lógico

In [ ]:
#df[(df['altura'] > 180) & (df['peso'] == 8)] #notación antigua
df.query(' not (altura > 180 and peso == 8)').head(1)

In [ ]:
#(df.query('altura > 190 and peso == 8')
#   .gropby(blabla)
#   .agg(jeje)
#   .reset_index(shit)
#   .rename(texto))

In [ ]:
df.groupby('altura')['peso'].mean().reset_index()[:5]

In [ ]:
df['peso'].plot()

In [ ]:
df[['peso', 'altura']].corr()

In [ ]:
#!pip install plotly

In [ ]:
#!pip install "jupyterlab>=3" "ipywidgets>=7.6"

In [ ]:
import plotly.express as px
import pandas as pd

In [ ]:
#fig = px.line, px.scatter, px.bar, px.histogram, px.cualquierwea
_ = pd.DataFrame({'year': [1,2,3], 'chile': [3, 5, 7], 'arg': [4, 10, 17], 'boli':[1, 2, 0]})
_

In [ ]:
fig = px.line(_, x='year', y='chile')
# cambiar nombre del titulo
fig.update_layout(title='chile')
fig.show()

In [ ]:
_

In [ ]:
_.melt(id_vars=['year'], value_vars=['chile', 'arg', 'boli']) # MELT es la mejor anmiga al usar plotly

In [ ]:
fig2 = px.line(_.melt(id_vars=['year'], value_vars=['chile', 'arg', 'boli']), x='year', color='variable', y='value').show()

In [ ]:
df = px.data.gapminder().query("continent=='Oceania'")
fig = px.line(df, x="year", y="lifeExp", color='country')
fig.show()